[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[packages]
flask-compress = "*"
pyyaml = "*"
plumbum = "*"
twisted = "*"
requests = "*"
python-dateutil = "*"
autobahn = {extras = ["twisted"], version = "*"}
semver = "*"
flask-restx = ">=0.4.0"
importlib-resources = "*"

[dev-packages]
mkdocs = "*"
mkdocs-material = "*"
pytest = "*"
pytest-httpserver = "*"
pytest-cov = "*"
pipenv-setup = "*"

[requires]
python_version = "3.8"
