[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[packages]
flask-restful = "*"
flask-compress = "*"
pyyaml = "*"
plumbum = "*"
twisted = "*"
requests = "*"
python-dateutil = "*"
autobahn = {extras = ["twisted"], version = "*"}
semver = "*"

[dev-packages]
mkdocs = "*"
mkdocs-material = "*"
